
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo general */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*letra*/
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor centrado */
.center {
    text-align: center;
    padding: 40px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Título */
h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #00796b;
}

/* Botón estilizado */
button {
    background-color: #00796b;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #004d40;
}

/* Enlace dentro del botón */
button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1em;
}
/*:)*/